{% extends "menus.html" %}

{% load static %}

{% block title %} Crear Plato {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets_user/css/tablas.css' %}">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nombre">Nombre del Plato:</label>
        {{ form.nombre }}
        <label for="precio">Precio del Plato:</label>
        {{ form.precio }}
        <label for="imagen">Imagen del Plato:</label>
        {{ form.imagen }}
        <br>
        <br>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'menus' %}" class="btn btn-danger">Cancelar</a>
    </form>

{% endblock %}