{% extends "staff.html" %}

{% load static %}

{% block title %}Pagina Mesas{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets_user/css/tablas.css' %}">
    <div class="col-md-6">
        <h5>Lista de mesas disponibles</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    <a href="{% url 'crear_mesa' %}">
                        <span class="button-icon-agregar"></span>
                    </a>
                </th>
                <th>Capacidad</th>
                <th>Esta disponible?</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for mesa in mesas %}
                <tr>
                    <td>{{ mesa.numero }}</td>
                    <td>{{ mesa.capacidad }}</td>
                    <td>{{ mesa.esta_disponible }}</td>
                    <td>
                        <a href="{% url 'modificar_mesa' id=mesa.id %}">
                            <span class="button-icon-editar"></span>
                        </a>
                        <a href="{% url 'eliminar_mesa' id=mesa.id %}">
                            <span class="button-icon-eliminar"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}