{% extends "mesas.html" %}
{% load static %}

{% block title %} Modificar Mesa {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets_user/css/tablas.css' %}">
    <form method="post">
        {% csrf_token %}
        <label for="capacidad">Capacidad de la mesa:</label>
            {{ form.capacidad }}
        <br>
        <br>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'mesas' %}" class="btn btn-danger">Cancelar</a>
</form>

{% endblock %}