{% extends "personal_cocina.html" %}

{% load static %}

{% block title %} Crear Personal de Cocina {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets_user/css/tablas.css' %}">
    <form method="post">
        {% csrf_token %}
            <label for="nombre">Nombre:</label>
                {{ form.nombre}}
            <label for="cedula">Cédula:</label>
                {{ form.cedula}}
            <label for="telefono">Teléfono:</label>
                {{ form.telefono}}

            <br>
            <br>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'personal_cocina' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}