{% extends "user.html" %}

{% load static %}

{% block title %}Crear Item de Pedido{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets_user/css/tablas.css' %}">
    <h2>Crear Item de Pedido</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            {{ form.cliente }}
        </div>
        <div class="form-group">
            <label for="plato">Plato:</label>
            {{ form.plato }}
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            {{ form.cantidad }}
        </div>
        <div class="form-group">
            <label for="observacion">Observación:</label>
            {{ form.observacion }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'user' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}